In [2]:
import pandas as pd

In [3]:
dir = "./assets/weather.txt"
weather = pd.read_csv(dir)

In [4]:
weather.head

<bound method NDFrame.head of    month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.95
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
4    May        71       53           98          35               0.48
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56>

In [5]:
weather.tail

<bound method NDFrame.tail of    month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.95
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
4    May        71       53           98          35               0.48
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56>

In [6]:
# 데이터를 검색하여 다음의 열과 행을 출력

weather[weather.avg_precipitation >1]

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.95
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

In [7]:
weather.columns

Index(['month', 'avg_high', 'avg_low', 'record_high', 'record_low',
       'avg_precipitation'],
      dtype='object')

In [8]:
weather.month

0     Jan
1     Feb
2     Mar
3     Apr
4     May
5     Jun
6     Jul
7     Aug
8     Sep
9     Oct
10    Nov
11    Dec
Name: month, dtype: object

In [9]:
weather.month.isin(["Jun", "Jul","Aug"])

0     False
1     False
2     False
3     False
4     False
5      True
6      True
7      True
8     False
9     False
10    False
11    False
Name: month, dtype: bool

In [10]:
weather[weather.month.isin(["Jun", "Jul","Aug"])]

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
5   Jun        75       56          107          41               0.11
6   Jul        77       58          105          44               0.00
7   Aug        77       59          102          43               0.03

In [11]:
# weather.avg_precipitation[9] = 101.3
# weather.avg_precipitation[9]
weather.loc[9, 'avg_precipitation'] = 101.3

In [12]:
import numpy as np
weather.loc[9, 'avg_precipitation'] = np.nan
weather.loc[9]

month                Oct
avg_high              73
avg_low               54
record_high           96
record_low            34
avg_precipitation    NaN
Name: 9, dtype: object

In [13]:
weather.avg_low = 5

In [14]:
weather['avg_day'] = (weather.avg_low + weather.avg_high)/2
weather.avg_day

0     31.5
1     33.0
2     35.0
3     36.0
4     38.0
5     40.0
6     41.0
7     41.0
8     41.0
9     39.0
10    34.5
11    31.5
Name: avg_day, dtype: float64

In [15]:
# 컬럼이름 바꾸기 avg_precipitation to avg_rain
weather.rename(columns={'avg_precipitation':'avg_rain'}, inplace=True)
weather

   month  avg_high  avg_low  record_high  record_low  avg_rain  avg_day
0    Jan        58        5           74          22      2.95     31.5
1    Feb        61        5           78          26      3.02     33.0
2    Mar        65        5           84          25      2.34     35.0
3    Apr        67        5           92          28      1.02     36.0
4    May        71        5           98          35      0.48     38.0
5    Jun        75        5          107          41      0.11     40.0
6    Jul        77        5          105          44      0.00     41.0
7    Aug        77        5          102          43      0.03     41.0
8    Sep        77        5          103          40      0.17     41.0
9    Oct        73        5           96          34       NaN     39.0
10   Nov        64        5           84          30      1.70     34.5
11   Dec        58        5           73          21      2.56     31.5

In [16]:
# 컬럼이름을 한꺼번에 바꿀 때
weather.columns = ['month','av_hi','av_lo','rec_hi','rec_lo','av_rain', 'av_day']
weather.head()

  month  av_hi  av_lo  rec_hi  rec_lo  av_rain  av_day
0   Jan     58      5      74      22     2.95    31.5
1   Feb     61      5      78      26     3.02    33.0
2   Mar     65      5      84      25     2.34    35.0
3   Apr     67      5      92      28     1.02    36.0
4   May     71      5      98      35     0.48    38.0

In [17]:
weather.to_csv('weather.csv')

# Chipotle 예제

In [20]:
dir_chipo = "./assets/chipotle.xlsx"
chipo = pd.read_excel(dir_chipo)

In [21]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1.0,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1.0,Izze,[Clementine],3.39
2,1,1.0,Nantucket Nectar,[Apple],3.39
3,1,1.0,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2.0,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [22]:
len(chipo)

4623

In [23]:
len(chipo.columns)

5

In [24]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [25]:
chipo.index

RangeIndex(start=0, stop=4623, step=1)

In [26]:
# 전체 주문 아이템수는? Quantity의 합
chipo.quantity.sum()

4972.0

In [27]:
# 데이터셋안에 있는 기간에 대한 수익은 얼마인가요?
(chipo.quantity * chipo.item_price).sum()

39237.02

# 가장 많이 주문된 아이템은? 
# Item_name에 따라 groupby된 것중 가장 카운트가 많이 된 것을 찾음

In [28]:
chipo.item_name.value_counts()
chipo.groupby('item_name').count().order_id.sort_values(ascending=False)

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Steak Salad                                4
Bowl                                       2
Salad                                      2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Name: order_id, dtype: int64

In [29]:
chipo.item_name.value_counts().index[0]

'Chicken Bowl'

In [38]:
choice_description_descending = chipo.groupby('choice_description').count().order_id.sort_values(ascending=False)
choice_description_descending

choice_description
[Diet Coke]                                                                                                                134
[Coke]                                                                                                                     123
[Sprite]                                                                                                                    77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                      42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                           40
                                                                                                                          ...
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Cheese, Guacamole, Lettuce]]                                            1
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Guacamole]]                                         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Guacamole, Lettuce]]                                                    1
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Guacamole]]                                                             1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Lettuce]]      1
Name: order_id, Length: 1043, dtype: int64

In [40]:
# What was the most ordered item in the choice_description column? choice_description
# 컬럼에서 가장 많이 주문된 아이템은?

choice_description_descending[0]

/var/folders/4p/lff6wpsj2ddfk0g_sgwlr8700000gn/T/ipykernel_65476/2725691550.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  choice_description_descending[0]

134

# How many different items are sold? 
# 얼마나 많은 다른 종류의 아이템이 팔렸나요?

In [48]:
chipo.item_name

0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
                        ...
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
4622                                      NaN
Name: item_name, Length: 4623, dtype: object

In [49]:
len(chipo.item_name)

4623

In [50]:
chipo.item_name.nunique()

50

In [51]:
len(chipo.item_name.unique())

51